{% extends 'base.html' %}
{% block content %}
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="profile_img">
                        <img src="{{ url_for('static', filename='author.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="profile_content">
                        <h5>Saya..</h5>
                        <h2>Ghea Chandra S</h2>
                        <p>Merupakan seorang lelaki yang berasal dari lampung dan memiliki satu orang saudara perempuan. Sangat menyukai pemrograman dan menguasai beberapa pemrograman seperti HTML, CSS, PHP, dan Python. dangat suka selaku makan serta hobi berenang dan freediveing </p>
                        <a class="btn btn-info" role="button" href="{{ url_for('contact') }}">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}