<!DOCTYPE html>
<html>
<head>
    <html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Web Ghea Chandra S</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" /> <!-- My Costom Styesheet -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" /> <!-- Bootstraps Styesheet -->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Tugas 1</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_home }}">Front Page</a></li>
            <li><a href="{{ url_partisipan}}">Data Partisipan</a></li>
            <li><a href="{{ url_about }}">About Author</a></li>
            <li><a href="{{ url_contact }}">Author Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <header>