{% extends 'base.html' %}
{% block content %}
    <div class="profile">
        <div class="container card">
            <div class="row">
                <div class="col-lg-12">
                    <div class="profile_content">
                        <h2>Data Partisipan</h2>
                        <p>Berikut adalah data partisipan perkuliahan pemrograman web</p>
                    </div>
                    <div class="data-tabel">
                        <table> <!-- Tabel -->
                            <thead>
                                <tr>
                                    <td>Nama</td><td>Asal</td><td>Email</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ghea Chandra S</td><td>Bandar Lampung</td><td>ghea18@email.com</td>
                                </tr>
                                <tr>
                                    <td>Dimas Bagaskara</td><td>Padang</td><td>dimas@email.com</td>
                                </tr>
                                <tr>
                                    <td>Nani Masrifah</td><td>Malang</td><td>nani@email.com</td>
                                </tr>
                                <tr>
                                    <td>Titi Sumarni</td><td>Semarang</td><td>titi@email.com</td>
                                </tr>
                                <tr>
                                    <td>Ramdhan Mala</td><td>Gorontalo</td><td>ramdhan@email.com</td>
                                </tr>       
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}