{% extends 'base.html' %}
{% block content %}
  {% block register %}
    {% if part['register'] %}
      <div class="container">
          <div class="profile">
              <div class="container card medium">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="profile_content">
                              <h2>Register</h2>
                          </div>
                          <form class="form-horizontal" method="post" action="{{ url_for('register') }}">
                            <div class="form-group">
                              <label class="control-label col-sm-4" for="username">User Name:</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control text-left" placeholder="Enter userame" name="username" aria-required="true" required="true">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-sm-4" for="name">Name:</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control text-left" placeholder="Enter name" name="name" aria-required="true" required="true">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-sm-4" for="email">Email:</label>
                              <div class="col-sm-12">
                                <input type="email" class="form-control text-left" placeholder="Enter email" name="email" aria-required="true" required="true">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-sm-4" for="password">Password:</label>
                              <div class="col-sm-12">          
                                <input type="password" class="form-control text-left" placeholder="Enter password" name="password" aria-required="true" required="true">
                              </div>
                            </div>
                            <div class="form-group">        
                              <div class="col-sm-offset-2 col-sm-12 text-right">
                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                              </div>
                            </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% endif %}
  {% endblock %}
  {% block list %}
    {% if part['user_list'] %}
      <div class="profile">
          <div class="container card">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="profile_content">
                          <h2>{% block content_title %}Data Partisipan{% endblock %}</h2>
                          <p>{% block content_Description %}Berikut adalah data partisipan perkuliahan pemrograman web{% endblock %}</p>
                      </div>
                      <div class="data-tabel">
                          <table> <!-- Tabel -->
                              <thead>
                                  <tr>
                                      <td>No</td>
                                      <td>User</td>
                                      <td>Name</td>
                                      <td>Mail</td>
                                      <td>Rank</td>
                                      <td>Date</td>
                                      <td>Status</td>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for user in data['data_user'] %}
                                    <tr {% if data["user_active"]==user.user %}style="background-color:red;color:white;"{% endif %}>
                                        <th scope="row">{{ user.id }}</th>
                                        <th>{{ user.user }}</th>
                                        <th>{{ user.name }}</th>
                                        <td> {{ user.mail }} </td>
                                        <td> {{ user.rank }} </td>
                                        <td> {{ user.date }} </td>
                                        <td> {{ user.stat }} </td>
                                    </tr>
                                {% endfor %}     
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}